.next-turn{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #811dff;
    z-index: 1002;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-row{

}
.hide{
    transform: translate(0, -43px);
    transition-duration: 0.5s;
}
.show{
    transform: translate(0, 0);
    transition-duration: 0.5s;
}
.hide-show-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 1px;
}